@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  border: 1px solid #000;
}

/* Styles specific to print */
@media print {
  table th,
  table td {
    background-color: #f2f2f2;
  }
}
